body {
  background-color: #bcb0ad;
}

.projects {
  background-color: #bcb0ad;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.projects .overlap-group-wrapper {
  background-color: #bcb0ad;
  width: 1286px;
  height: 752px;
  margin: auto;
}

.projects .overlap-group {
  position: relative;
  width: 1286px;
  height: 752px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 0px 70px #000000eb;
}

.projects .star {
  position: absolute;
  width: 200px;
  height: 228px;
  top: 366px;
  left: 108px;
}

.projects .projects-lsit {
  position: absolute;
  width: 333px;
  height: 206px;
  top: 71px;
  left: 69px;
}

.projects .businessdevelopment {
  position: absolute;
  top: 165px;
  left: 0;
  font-family: "Satoshi Variable-Black", Helvetica;
  font-weight: 900;
  color: #00000080;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.projects .softwareengineering {
  position: absolute;
  top: 110px;
  left: 0;
  font-family: "Satoshi Variable-Black", Helvetica;
  font-weight: 900;
  color: #00000080;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.projects .cloudcomputing {
  position: absolute;
  top: 55px;
  left: 0;
  font-family: "Satoshi Variable-Black", Helvetica;
  font-weight: 900;
  color: #00000080;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.projects .datascience {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Satoshi Variable-Black", Helvetica;
  font-weight: 900;
  color: #00000080;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.projects .datascience:hover, .cloudcomputing:hover, .softwareengineering:hover, .businessdevelopment:hover{
  color: #1B3E51
}

.projects .projecttext {
  position: absolute;
  top: 411px;
  left: 396px;
  font-family: "Satoshi Variable-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 208px;
  letter-spacing: 0;
  line-height: normal;
}

.projects .home {
  position: absolute;
  top: 21px;
  left: 1106px;
  font-family: "Satoshi Variable-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.fade-out {
  animation: fadeOut 4s ease-in-out;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
