body {
  background-color: #bcb0ad;
}

.home {
  background-color: #bcb0ad;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.home .home-container-wrapper {
  background-color: #bcb0ad;
  width: 1286px;
  height: 752px;
  margin: auto;
}

.home .home-container {
  position: relative;
  width: 1286px;
  height: 752px;
}

.home .overlap {
  position: relative;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 0px 70px #000000eb;
  width: 1286px;
  height: 752px;
}

.home .text-wrapper {
  position: absolute;
  top: 698px;
  left: 692px;
  font-family: "Satoshi Variable-Medium", Helvetica;
  font-weight: 500;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .resume-contact {
  position: absolute;
  width: 319px;
  height: 118px;
  top: 491px;
  left: 806px;
}

.home .aboutme {
  position: absolute;
  width: 272px;
  height: 50px;
  top: 68px;
  left: 0;
}

.home .div {
  position: absolute;
  top: 8px;
  left: 59px;
  font-family: "Satoshi Variable-Medium", Helvetica;
  font-weight: 500;
  color: #00000099;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.home .overlap-group-wrapper {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}

.home .overlap-group {
  position: relative;
  height: 47px;
}

.home .ellipse {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 10px;
  left: 10px;
  background-color: #1100d580;
  border-radius: 15.49px;
}

.home .img {
  position: absolute;
  width: 50px;
  height: 47px;
  top: 0;
  left: 0;
}

.home .resume .line {
  position: absolute;
  top: 17px;
  left: 38px;
  opacity: 0;
  width: 0; /* Initially no width */
  transition: opacity 0.05s ease; /* Smooth transition for opacity */
}

.home .aboutme .line {
  position: absolute;
  top: 17.5px;
  left: 38px;
  opacity: 0;
  width: 0; /* Initially no width */
  transition: opacity 0.05s ease; /* Smooth transition for opacity */
}




.home .resume {
  position: absolute;
  width: 321px;
  height: 50px;
  top: 0;
  left: 0;
}

.home .resume:hover .overlap-group {
  transform: rotate(-90deg);
  transition: transform 0.3s ease; /* Ini akan membuat rotasi lebih halus */
}

.home .resume:hover .div{
  color: #000000;
  z-index: 1;
}

.home .aboutme:hover .overlap-group {
  transform: rotate(-90deg);
  transition: transform 0.3s ease; /* Ini akan membuat rotasi lebih halus */
}

.home .aboutme:hover .div{
  color: #000000;
  z-index: 1;
}

.home .resume:hover .ellipse {
  transition: opacity 0.3s ease; /* Ini akan membuat perubahan opasitas lebih halus */
  background-color: #1200d5
}

.home .aboutme:hover .ellipse {
  transition: opacity 0.3s ease; /* Ini akan membuat perubahan opasitas lebih halus */
  background-color: #1200d5
}

@keyframes lineGrowAnimation {
  from {
    width: 0;
  }
  to {
    width: 289px; /* Adjust this value based on the full width of your line */
  }
}

@keyframes lineGrowAnimation2 {
  from {
    width: 0;
  }
  to {
    width: 241px; /* Adjust this value based on the full width of your line */
  }
}

.home .resume:hover .line {
  opacity: 1; /* Visible when hovering */
  animation: lineGrowAnimation 0.1s ease forwards 0.1s; /* Animation with delay */
}

.home .aboutme:hover .line {
  opacity: 1; /* Visible when hovering */
  animation: lineGrowAnimation2 0.1s ease forwards 0.1s; /* Animation with delay */
}


.home .socials {
  position: absolute;
  width: 47px;
  height: 428px;
  top: 25%;
  left: 1227px;
}

.home .text-wrapper-2 {
  position: absolute;
  top: 353px;
  left: -34px;
  transform: rotate(-90deg);
  font-family: "Satoshi Variable-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-3 {
  position: absolute;
  top: 196px;
  left: -25px;
  transform: rotate(-90deg);
  font-family: "Satoshi Variable-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-4 {
  position: absolute;
  top: 36px;
  left: -36px;
  transform: rotate(-90deg);
  font-family: "Satoshi Variable-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .i-m-a-computer {
  position: absolute;
  top: 487px;
  left: 120px;
  font-family: "Satoshi Variable-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.home .greetings {
  position: absolute;
  width: 827px;
  height: 252px;
  top: 77px;
  left: 120px;
}

.home .text-wrapper-5 {
  position: absolute;
  top: 112px;
  left: 776px;
  font-family: "Satoshi Variable-Black", Helvetica;
  font-weight: 900;
  color: #0300af;
  font-size: 104px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-6 {
  position: absolute;
  top: 112px;
  left: 0;
  font-family: "Satoshi Variable-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 104px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Satoshi Variable-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 83px;
  letter-spacing: 0;
  line-height: normal;
}
