body {
  background-color: #bcb0ad;
}

.projects-cc {
  background-color: #bcb0ad;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.projects-cc .overlap-group-wrapper {
  background-color: #bcb0ad;
  width: 1286px;
  height: 1860px;
  margin: auto;
}

@keyframes heightAdjust {
  0%, 20% {
    height: 752px; /* Start height */
  }
  10% {
    height: 732px; /* Decrease by 10px */
  }
  100% {
    height: 1800px; /* Increase to final height */
  }
}

.projects-cc .overlap-group {
  position: relative;
  width: 1286px;
  height: 752px; /* Start height */
  top: 25.5px;
  left: 7px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 0px 70px #000000eb;
  animation: heightAdjust 3s ease forwards 0.5s; 
}

.projects-cc .projects-container {
  position: absolute;
  width: 1175px;
  height: 946px;
  top: 820px;
  left: 58px;
}

.projects-cc .plusfiller {
  position: absolute;
  width: 273px;
  height: 257px;
  top: 592px;
  left: 124px;
}

.projects-cc .plus1 {
  left: 0;
  position: absolute;
  top: 0;
  font-family: "Satoshi Variable-Bold", Helvetica;
  font-weight: 700;
  color: #1a3d5180;
  font-size: 190px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 1;
}

.projects-cc .plus2 {
  left: 143px;
  position: absolute;
  top: 0;
  font-family: "Satoshi Variable-Bold", Helvetica;
  font-weight: 700;
  color: #1a3d5180;
  font-size: 190px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 1;
}

.projects-cc .minus1 {
    left: 21px;
    position: absolute;
    top: -13px;
    font-family: "Satoshi Variable-Bold", Helvetica;
    font-weight: 700;
    color: #1a3d5180;
    font-size: 190px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0;
  }
  
  .projects-cc .minus2 {
    left: 164px;
    position: absolute;
    top: -13px;
    font-family: "Satoshi Variable-Bold", Helvetica;
    font-weight: 700;
    color: #1a3d5180;
    font-size: 190px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0;
  }

  .projects-cc .plusfiller:hover .plus1{
    opacity: 0;
    transition: 0.5s;
  }
  .projects-cc .plusfiller:hover .plus2{
    opacity: 0;
    transition: 0.5s;
  }
  .projects-cc .plusfiller:hover .minus1{
    opacity: 1;
    transition: 0.5s;
  }
  .projects-cc .plusfiller:hover .minus2{
    opacity: 1;
    transition: 0.5s;
  }

.projects-cc .churnprediction {
  position: absolute;
  width: 504px;
  height: 540px;
  top: 730px;
  left: 0;
  opacity: 1;
  z-index: 1;
}

.projects-cc .timeseries{
  position: absolute;
  width: 504px;
  height: 540px;
  top: 730px;
  left: 0;
  opacity: 0;
  z-index: 0;
}

.projects-cc .text-wrapper21 {
  position: absolute;
  top: 499px;
  /* left: 67px; */
  font-family: "Satoshi Variable-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.projects-cc .text-wrapper-22 {
  position: absolute;
  top: 458px;
  /* left: 126px; */
  font-family: "Satoshi Variable-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.projects-cc .cover {
  width: 500px;
  position: absolute;
  height: 450px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.projects-cc .cloudinfra {
  position: absolute;
  width: 525px;
  height: 540px;
  top: 387px;
  left: 654px;
  opacity: 1;
  z-index: 1;
}


.projects-cc .text-wrapper-31 {
  position: absolute;
  top: 499px;
  /* left: 97px; */
  font-family: "Satoshi Variable-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.projects-cc .text-wrapper-32 {
  position: absolute;
  top: 458px;
  /* left: 0; */
  font-family: "Satoshi Variable-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 29px;
  letter-spacing: 0;
  line-height: normal;
}

.projects-cc .img {
  width: 521px;
  position: absolute;
  height: 450px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.projects-cc .sync {
  position: absolute;
  width: 504px;
  height: 540px;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 1;
}


.projects-cc .text-wrapper-41 {
  position: absolute;
  top: 499px;
  /* left: 88px; */
  font-family: "Satoshi Variable-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.projects-cc .text-wrapper-42 {
  position: absolute;
  top: 458px;
  /* left: 21px; */
  font-family: "Satoshi Variable-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.projects-cc .panahkanan {
  position: absolute;
  width: 235px;
  height: 74px;
  top: 109px;
  left: 800px;
  opacity: 0.5;
}

.projects-cc .overlap {
  position: absolute;
  width: 866px;
  height: 527px;
  top: 184px;
  left: 400px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.projects-cc .panah {
  position: absolute;
  width: 74px;
  height: 235px;
  top: 0;
  left: 598px;
  animation: fadeIn 2.5s ease forwards;
  animation-delay: 0s; /* Change this value to adjust the delay */
}

.projects-cc .projecttext {
  position: absolute;
  top: 230px;
  left: 0;
  font-family: "Satoshi Variable-Black", Helvetica;
  font-weight: 900;
  color: #0000001a;
  font-size: 208px;
  letter-spacing: 0;
  line-height: normal;
}

.projects-cc .star {
  position: absolute;
  width: 200px;
  height: 228px;
  top: 366px;
  left: 108px;
}

.projects-cc .projects-list {
  position: absolute;
  width: 333px;
  height: 206px;
  top: 71px;
  left: 69px;
}

.projects-cc .businessdevelopment {
  position: absolute;
  top: 165px;
  left: 0;
  font-family: "Satoshi Variable-Black", Helvetica;
  font-weight: 900;
  color: #00000080;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.projects-cc .softwareengineering {
  position: absolute;
  top: 110px;
  left: 0;
  font-family: "Satoshi Variable-Black", Helvetica;
  font-weight: 900;
  color: #00000080;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.projects-cc .cloudcomputing {
  position: absolute;
  top: 55px;
  left: 0;
  font-family: "Satoshi Variable-Black", Helvetica;
  font-weight: 900;
  color: #00000080;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.projects-cc .datascience {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Satoshi Variable-Black", Helvetica;
  font-weight: 900;
  color: #00000080;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.projects-cc .datascience:hover, .cloudcomputing:hover, .softwareengineering:hover, .businessdevelopment:hover{
  color: #1B3E51
}


.projects-cc .home {
  position: absolute;
  top: 21px;
  left: 1106px;
  font-family: "Satoshi Variable-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.projects-cc .cover-container {
  position: absolute;
  width: 502px;
  height: 450px;
  top: 0;
  left: 0;
}

.projects-cc .description-container {
  position: absolute;
  width: 502px;
  max-height: 0px; 
  top: 41px;
  left: 0;
  opacity: 0;
  transition: 0.5s ease, opacity 0.5s ease; 
}

.projects-cc .cover-container:hover .description-container {
  opacity: 1; 
}

.projects-cc .descriptionbox {
  position: relative;
  width: 500px;
  height: 409px;
  background-color: #d9d9d9e6;
}

.projects-cc .descriptiontext {
  position: absolute;
  width: 457px;
  top: 42px;
  left: 21px;
  font-family: "Satoshi Variable-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.projects-cc .datacamplink-container {
  position: absolute;
  width: 240px;
  height: 105px;
  top: 83px;
  left: 13px;
  opacity: 0;
  transition: 0.5s ease, opacity 0.5s ease; 
}

.projects-cc .datacamplink-container a{
  z-index: 0;
}

.projects-cc .plusfiller:hover .datacamplink-container{
  opacity: 1; 
}
.projects-cc .plusfiller:hover .datacamplink-container{
  z-index: 1; 
}

.projects-cc .datacamplink {
  position: absolute;
  width: 242px;
  height: 105px;
  top: 0;
  left: 0;
}

.projects-cc .datacamplink-box{
  position: relative;
  width: 240px;
  height: 105px;
  background-color: #1a3d51;
  border-radius: 74px;
}

.projects-cc .datacamptext {
  position: absolute;
  top: 39px;
  left: 20px;
  font-family: "Satoshi Variable-Bold", Helvetica;
  font-weight: 700;
  color: #21d375;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
